@import 'colours';

.previous-next-navigation {
  margin-bottom: 1.5789em;
  position: relative;

  li {
    display: block;
    float: left;
    font-size: 1.421em;
    line-height: 1.11111;
    margin: 0;
    width: 50%;
  }

  a {
    display: block;
    text-decoration: none;


    &:hover {
      background: $highlight-colour;
    }

    &:focus {
      outline: 3px solid $focus-colour;
    }

    &:active {
      background: $panel-colour;
    }

    &::before {
      background: url('govuk_frontend_toolkit/images/arrow-sprite.png') no-repeat -20px -11px;
      content: ' ';
      display: block;
      float: left;
      height: 38px;
      margin: -4px 0 0 -32px;
      width: 30px;
    }
  }

  .next {
    float: right;
    text-align: right;

    a {
      padding: 15px 35px 15px 0;
    }

    a::before {
      background-position: -102px -11px;
      float: right;
      margin: -4px -32px 0 0;
    }
  }

  .previous a {
    padding: 15px 0 15px 35px;
  }
}

.page-numbers {
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 0 4px;
}
