<nav role="navigation">
  <ul class="previous-next-navigation group">
    <li class="previous" if(input.prevUrl)>
      <a href=input.prevUrl>
        ${input.prevText}
      </a>
    </li>
    <li class="next" if(input.nextUrl)>
      <a href=input.nextUrl>
        ${input.nextText}
      </a>
    </li>
  </ul>
</nav>
