$ const i18n = out.stream.req.t;

<include('../../common/layout.marko') page-title="${i18n('cancelled:heading')} - ${i18n('app:serviceName')}">

  <@content>
    <a.link-back href="/choose-a-room">
      <i18n-message key="choose:heading"/>
    </a>

    <div.govuk-box-highlight.text>
      <h1.bold-large>
        <i18n-message key="cancelled:heading"/>
      </h1>
    </div>
  </@content>

</include>
