@import 'colours';
@import 'css3';

.translation-list {
  list-style: none;
  margin-top: .5em;

  ::after {
    clear: both;
    content: ' ';
    display: block;
  }
}

.translation {
  border-right: 1px solid $border-colour;
  display: block;
  float: left;
  height: 16px;
  margin: 3px 10px 2px 0;
  padding: 0 10px 0 0;

  a,
  span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14286;
    margin-top: -1px;
    text-transform: none;
  }
}

.last {
  border-right: 0;
}

@media(min-width:641px) {
  .translation-list {
    float: right;
    margin-top: -1.1em;
  }

  .translation a,
  .translation span {
    line-height: 1.25;
  }
}
