$path: '/node_modules/govuk_frontend_toolkit/images/';
@function image-url() {}

@import 'govuk-elements';

strong {
  font-weight: bold;
}

#global-header #logo {
  background: none;
  height: 30px;
  margin: 4px 15px 0;

  img {
    display: none;
  }
}

.column-third {
  input {
    width: 100%;
  }

  .heading-medium {
    margin-top: 0;
  }
}

.change-date {
  @extend %contain-floats;

  .button {
    float: left;
    margin-top: 2.7em;

    @include media(mobile) {
      margin: 1em 0 2em;
    }
  }

  > .form-group {
    float: left;
    width: auto;
  }
}

.floor-plate {
  background-color: $grey-3;
  font-weight: bold;
  padding: 5px;
}

.room-list {
  background-color: $grey-4;

  li {
    border-color: $grey-3;
    border-style: solid;
    border-top: 0;
    border-width: 1px;
    padding: 5px;

    &:last-child {
      margin-bottom: 2em;
    }
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}
