<div class="notify-success text" role="group" aria-labelledby="notify-success"
  tabindex="-1">

  <p class="notify-success-message" id="notify-success">
    ${data.message}
  </p>

  <invoke if(data.renderBody) data.renderBody(out)/>
</div>
