<div.notify-success.text role="group" aria-labelledby="notify-success"
  tabindex="-1">

  <p.notify-success-message id="notify-success">
    ${data.message}
  </p>

  <include(input.renderBody)/>
</div>
