$ const i18n = out.stream.req.t;

<include('../../common/layout.marko') page-title="${i18n('error:${data.status}.heading')}">

  <@content>
    <h1.heading-xlarge>
      <i18n-message key="error:${data.status}.heading"/>
    </h1>
    <p.text lede>
      <i18n-message key="error:${data.status}.body"/>
    </p>
  </@content>

</include>
